# Generated
.DS_Store
.git/
.gitignore
*.swp
*.bak
*.tmp
tools
generated
.env-file
images
.gitignore
.info_bash_tmp
init
info
meta
roles
Jenkinsfile
# Manually Added Ignores
component.properties
*.md
*.MD
Jenkinsfile.smi
chart-updater
docs
global.yaml
sample.yaml
samples-*.yaml
sample-*.yaml
tests/
test/
test*.yaml
